body { 
  background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: inline-block;
}

.logo {
	width: 100px;
}

.navbar {
   background-color: transparent;
   background: rgba(0,0,0,0.5);
   border-color: transparent;
   display: inline;
}

.jumbotron {
	margin-top:250px;
	padding-right: 120px;
	padding-left: 120px;
	width: 1024px;
	background-color: rgba(0,0,0,0) !important;
	border-radius: 5px;
	margin-left: 500px;
	color:black;
}

.jumbotron .row {
	margin: 10px;
}